In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from numpy import nan as Nan

In [2]:
df_original = pd.read_csv('annual_aqi_by_county_2020.csv')

In [3]:
df= df_original.drop(columns=['Days with AQI', 'Good Days', 'Moderate Days', 'Unhealthy for Sensitive Groups Days','Unhealthy Days'])

In [4]:
df= df.drop(columns=['Very Unhealthy Days','Hazardous Days','Days CO','Days NO2','Days Ozone','Days SO2','Days PM2.5','Days PM10'])

df

pdToList_county = list(df['County'])

pdToList_county

def first_word(pdToList_county):
    my_list = [x.split()[0] for x in pdToList_county]
    return my_list

County = first_word(pdToList_county)

df.insert(2, 'First Word of Each County', County)

df.to_csv('df.csv')


df = pd.read_csv('df_test2.csv')

In [5]:
edu_original = pd.read_csv('Education (1).csv')

In [6]:

neglect2013 = [col for col in edu_original if '2013' in col]
edu = edu_original.drop(columns=neglect2013)

neglect2003 = [col for col in edu_original if '2003' in col]
edu = edu.drop(columns=neglect2003)
edu

neglect1970 = [col for col in edu if '1970' in col]
edu = edu.drop(columns=neglect1970)
edu

neglect1980 = [col for col in edu if '1980' in col]
edu = edu.drop(columns=neglect1980)
edu

neglect1990 = [col for col in edu if '1990' in col]
edu = edu.drop(columns=neglect1990)
edu

neglect2000 = [col for col in edu if '2000' in col]
edu = edu.drop(columns=neglect2000)
edu

edu= edu.drop(columns=['FIPS Code'])
edu= edu.drop(columns=["Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19"])
edu= edu.drop(columns=["Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19"])
edu= edu.drop(columns=["Percent of adults completing some college or associate's degree, 2015-19"])


pdToList_area_name = list(edu['Area name'])

pdToList_area_name

def first_word(pdToList_area_name):
    my_list = [x.split()[0] for x in pdToList_area_name]
    return my_list

Area_name = first_word(pdToList_area_name)

edu.insert(2, 'First Word of Each County', Area_name)

edu.to_csv('edu.csv')

edu=pd.read_csv('edu_test.csv')
edu


population_by_county = pd.read_csv('PopulationByCounties.csv')


#edu

In [7]:
#population_by_county

In [8]:
#pd.merge(population_by_county,edu,how="inner",on="Abbreviation")

In [9]:
merged_inner = pd.merge(left=df, right=edu, left_on=['Abbreviation'], right_on=['Abbreviation'])


#merged_= merged_inner.drop(columns="Abbreviation")
merged_= merged_inner.drop(columns="Area name")
merged_= merged_.drop(columns="State_y")
merged_= merged_.drop(columns="First Word of Each County_x")
merged_= merged_.drop(columns="First Word of Each County_y")
merged_=merged_.rename(columns={"State_x": "State"})
merged_.to_csv('merged_show.csv')
#merged_

In [10]:
empl_original = pd.read_csv('Unemployment.csv')

empl=empl_original[~empl_original.Attribute.str.contains("2000")]
empl=empl[~empl.Attribute.str.contains("2001")]
empl=empl[~empl.Attribute.str.contains("2002")]
empl=empl[~empl.Attribute.str.contains("2003")]
empl=empl[~empl.Attribute.str.contains("2004")]
empl=empl[~empl.Attribute.str.contains("2005")]
empl=empl[~empl.Attribute.str.contains("2006")]
empl=empl[~empl.Attribute.str.contains("2007")]
empl=empl[~empl.Attribute.str.contains("2008")]
empl=empl[~empl.Attribute.str.contains("2009")]
empl=empl[~empl.Attribute.str.contains("2010")]
empl=empl[~empl.Attribute.str.contains("2011")]
empl=empl[~empl.Attribute.str.contains("2012")]
empl=empl[~empl.Attribute.str.contains("2013")]
empl=empl[~empl.Attribute.str.contains("2014")]
empl=empl[~empl.Attribute.str.contains("2015")]
empl=empl[~empl.Attribute.str.contains("2016")]
empl=empl[~empl.Attribute.str.contains("2017")]
empl=empl[~empl.Attribute.str.contains("2019")]
empl=empl[~empl.Attribute.str.contains("2018")]
empl=empl[~empl.Attribute.str.contains("Civilian")]
empl=empl[~empl.Attribute.str.contains("rate")]

employed = empl[~empl.Attribute.str.contains("Unemployed")]
employed = employed.rename(columns={"Value": "# Employed"})
employed = employed.drop(columns=['Attribute'])

In [11]:
unemployed = empl[~empl.Attribute.str.contains("Employed")]
unemployed = unemployed.rename(columns={"Value": "# Unemployed"})
unemployed=unemployed.drop(columns=['Attribute'])

In [12]:
Employment_df = pd.merge(left=employed, right=unemployed, left_on=['Area_name'], right_on=['Area_name'])
Employment_df
pdToList_area_name = list(Employment_df['Area_name'])
pdToList_area_name
def first_word(pdToList_area_name):
    my_list = [x.split()[0] for x in pdToList_area_name]
    return my_list

Area_name = first_word(pdToList_area_name)

Employment_df.insert(2, 'First Word of Each County', Area_name)
Employment_df.to_csv('Employment_df.csv')

In [13]:
Employment_numbers=pd.read_csv('Employment_df_test.csv')
#Employment_numbers

In [14]:
merged_2 = pd.merge(left=merged_, right=Employment_numbers, left_on=['Abbreviation'], right_on=['Abbreivation'])
merged_2=merged_2.drop_duplicates(subset=["# Employed","# Unemployed"])
merged_2.to_csv('merged2.csv')

In [15]:
updated_12_02 = pd.read_csv('merged2_cleanedUP.csv')

In [16]:
#updated_12_02

,State,County,Abbreviation,Max AQI,90th Percentile AQI,Median AQI,"Percent of adults with a high school diploma only, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19",# Employed,# Unemployed
0,Alabama,Baldwin,AlabamaBaldwin,74,49,36,27.7,31.9,91338,5425
1,Alabama,Russell,AlabamaRussell,99,56,36,31.4,17.8,22290,1210
2,Alabama,Shelby,AlabamaShelby,71,46,28,19.8,42.9,109646,4402
3,Alabama,Sumter,AlabamaSumter,70,43,29,35.4,21.6,4414,331
4,Alabama,Tuscaloosa,AlabamaTuscaloosa,97,45,31,29.9,30.7,95473,6749
...,...,...,...,...,...,...,...,...,...,...
970,Wyoming,Sublette,WyomingSublette,151,61,44,34.6,22.8,3765,294
971,Wyoming,Sweetwater,WyomingSweetwater,1250,76,46,33.0,22.5,19308,1532
972,Wyoming,Teton,WyomingTeton,161,54,42,14.9,57.0,14292,912
973,Wyoming,Uinta,WyomingUinta,122,51,40,41.5,16.0,8730,582
974,Wyoming,Weston,WyomingWeston,119,49,40,37.4,20.0,3688,148

In [17]:
#population_by_county = pd.read_csv('PopulationByCounties.csv')

In [18]:
#population_by_county

In [19]:
#merged_3 = pd.merge(left=updated_12_02, right=population_by_county, left_on=['Abbreviation'], right_on=['Abbreviation'])

In [20]:
#merged_3

In [21]:
#gross_product=pd.read_csv('Real Gross Domestic Product.csv')

In [22]:
#updated_12_06 = pd.merge(left=updated_12_02, right=gross_product, left_on=['Abbreviation'], right_on=['Area'])

In [23]:
us_county_data=pd.read_csv('us_county.csv')

In [24]:
merged_6 = pd.merge(left=updated_12_02, right=us_county_data, left_on=['Abbreviation'], right_on=['Abbreviation'])
merged_6 = merged_6.drop(columns=['County_y'])
merged_6 = merged_6.drop(columns=['State_y'])
merged_6 = merged_6.rename(columns={"State_x": "State"})
merged_6 = merged_6.rename(columns={"County_x": "County"})
#merged_6

,State,County,Abbreviation,Max AQI,90th Percentile AQI,Median AQI,"Percent of adults with a high school diploma only, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19",# Employed,# Unemployed,Male,Female,Median Age,Population (2014-2020)
0,Alabama,Baldwin,AlabamaBaldwin,74,49,36,27.7,31.9,91338,5425,101188,106919,42.8,208107
1,Alabama,Russell,AlabamaRussell,99,56,36,31.4,17.8,22290,1210,28124,30089,35.9,58213
2,Alabama,Shelby,AlabamaShelby,71,46,28,19.8,42.9,109646,4402,102478,108783,38.9,211261
3,Alabama,Sumter,AlabamaSumter,70,43,29,35.4,21.6,4414,331,6014,6971,35.8,12985
4,Alabama,Tuscaloosa,AlabamaTuscaloosa,97,45,31,29.9,30.7,95473,6749,99539,106674,32.7,206213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,Wyoming,Sublette,WyomingSublette,151,61,44,34.6,22.8,3765,294,5367,4584,39.4,9951
984,Wyoming,Sweetwater,WyomingSweetwater,1250,76,46,33.0,22.5,19308,1532,22882,21235,34.6,44117
985,Wyoming,Teton,WyomingTeton,161,54,42,14.9,57.0,14292,912,11911,11148,39.3,23059
986,Wyoming,Uinta,WyomingUinta,122,51,40,41.5,16.0,8730,582,10505,10104,35.5,20609
987,Wyoming,Weston,WyomingWeston,119,49,40,37.4,20.0,3688,148,3768,3332,42.9,7100

In [26]:
Election_Data = pd.read_csv('Election_Data.csv')

In [27]:
#Election_Data

,Unnamed: 0,county,state,Abbreviation,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,Income,IncomeErr,Professional,Service,Office,Construction,Production,WorkAtHome,MeanCommute
0,0,Abbeville,South Carolina,South CarolinaAbbeville,12433.0,8215.0,4101.0,35254.0,2259.0,27.2,20.7,20.8,10.6,20.7,6.5,25.8
1,1,Acadia,Lousiana,LousianaAcadia,28425.0,22596.0,5443.0,40492.0,2544.0,27.6,16.9,25.7,15.0,14.8,2.5,27.6
2,2,Accomack,Virginia,VirginiaAccomack,16938.0,9172.0,7578.0,42260.0,2253.0,31.1,17.7,18.8,15.1,17.3,4.5,22.0
3,3,Ada,Idaho,IdahoAda,259389.0,130699.0,120539.0,60151.0,1294.0,43.0,16.6,25.0,6.9,8.4,6.9,20.4
4,4,Adair,Iowa,IowaAdair,4183.0,2917.0,1197.0,49477.0,2633.0,28.2,16.9,20.0,17.3,17.6,6.2,22.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,3106,Yuma,Arizona,ArizonaYuma,68427.0,35766.0,31562.0,43253.0,1376.0,24.9,23.0,22.8,17.4,12.0,3.0,19.6
3107,3107,Yuma,Colorado,ColoradoYuma,4885.0,4037.0,763.0,44668.0,2373.0,29.4,14.4,22.2,21.4,12.6,10.5,15.7
3108,3108,Zapata,Texas,TexasZapata,3867.0,2032.0,1820.0,34550.0,6700.0,17.7,30.4,14.9,16.8,20.2,2.0,18.2
3109,3109,Zavala,Texas,TexasZavala,4379.0,1490.0,2864.0,25988.0,5009.0,29.0,24.3,14.7,16.7,15.3,5.4,13.7
3110,3110,Ziebach,South Dakota,South DakotaZiebach,906.0,404.0,481.0,35000.0,4262.0,51.3,15.9,15.6,11.1,6.1,25.9,22.8

In [28]:
merged_7 = pd.merge(left=merged_6, right=Election_Data, left_on=['Abbreviation'], right_on=['Abbreviation'])

In [30]:
merged_7.to_csv('merged7.csv')

In [32]:
Final_Data = pd.read_csv('Final Database.csv')

In [33]:
Final_Data

,State,County,Abbreviation,Max AQI,90th Percentile AQI,Median AQI,"Percent of adults with a high school diploma only, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19",# Employed,# Unemployed,...,Votes 2020 Joe Biden,Income,IncomeErr,Professional,Service,Office,Construction,Production,WorkAtHome,Mean Commute (minutes)
0,Alabama,Baldwin,AlabamaBaldwin,74,49,36,27.7,31.9,91338,5425,...,24344.0,52562,1348,35.7,18.2,25.6,9.7,10.8,5.6,27.0
1,Alabama,Russell,AlabamaRussell,99,56,36,31.4,17.8,22290,1210,...,11078.0,38988,2253,28.7,20.2,25.2,9.4,16.4,2.8,24.1
2,Alabama,Shelby,AlabamaShelby,71,46,28,19.8,42.9,109646,4402,...,33036.0,74063,1255,44.3,13.7,26.8,7.4,7.7,4.9,28.0
3,Alabama,Sumter,AlabamaSumter,70,43,29,35.4,21.6,4414,331,...,4639.0,21663,1677,25.5,26.9,22.6,4.9,20.1,1.8,26.1
4,Alabama,Tuscaloosa,AlabamaTuscaloosa,97,45,31,29.9,30.7,95473,6749,...,37514.0,50513,1043,35.8,17.5,20.9,8.7,17.2,3.1,22.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,Wyoming,Sublette,WyomingSublette,151,61,44,34.6,22.8,3765,294,...,882.0,84911,12431,41.9,14.2,13.1,15.8,14.9,7.0,20.9
949,Wyoming,Sweetwater,WyomingSweetwater,1250,76,46,33.0,22.5,19308,1532,...,3823.0,71083,4336,27.7,16.1,20.0,20.8,15.4,1.5,20.5
950,Wyoming,Teton,WyomingTeton,161,54,42,14.9,57.0,14292,912,...,9848.0,80049,4586,39.4,25.4,17.0,11.7,6.5,5.7,14.3
951,Wyoming,Uinta,WyomingUinta,122,51,40,41.5,16.0,8730,582,...,1591.0,54672,7803,30.4,19.4,18.1,16.1,16.1,2.0,19.9
952,Wyoming,Weston,WyomingWeston,119,49,40,37.4,20.0,3688,148,...,360.0,59605,7853,32.0,15.0,15.8,17.9,19.3,6.9,25.7